<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.constructor">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".addMainProject"></activity>
        <activity android:name=".addMachine" />
        <activity android:name=".addVehicle" />
        <activity android:name=".addStock" />
        <activity android:name=".addCustomer" />
        <activity android:name=".addEmployee" />
        <activity android:name=".login" />
        <activity android:name=".Home" />
        <activity android:name=".AnimatedOpen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>